<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <input type="text" v-model.number="num1" />
      <select v-model="op">
        <option value="+">+</option>
        <option value="-">-</option>
      </select>
      <input type="text" v-model.number="num2" />
      <button v-on:click="doCal">계산하기</button>
      <div>{{result}}</div>
    </div>
    <script type="module" src="./test02.js"></script>
  </body>
</html>
