<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>method test</h1>
      <div>
        <label for="userid">아이디</label>
        <input type="text" id="userid" v-model="userid" />
        <label for="username">이름</label>
        <input type="text" id="username" v-model="username" />
        <button @click="checkVal">등록</button>
      </div>
    </div>
    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            userid: '',
            username: '',
          };
        },
        methods: {
          checkVal() {
            if (!this.userid) {
              alert('아이디 입력!');
            } else {
              this.register();
            }
          },
          register() {
            // alert('register() called!!');
            let user = {
              userid: this.userid,
              username: this.username,
            };
            console.log(user);
          },
        },
      });
    </script>
  </body>
</html>
