<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h2>컴포넌트 객체 데이터 전달</h2>
    <div id="app">
        <member-view :member="{name: '홍길동', age: 22, email: 'hong@a.com'}"></member-view>
    </div>
    <template id="MemberView">
        <div>
            <div>이름 : {{ member.name }}</div>
            <div>나이 : {{ member.age }}</div>
            <div>이메일 : {{ member.email }}</div>
        </div>
    </template>
    <script type="module">
        import MemberView from './components/MemberView.js'
        new Vue({
            el: "#app",
            components: {
                MemberView
            }
        })
    </script>
</body>

</html>