<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div id="app">
        <child-comp v-for="(area, i) in areas" :key="i" :area="area" v-bind:msg="msg[parseInt(Math.random() * 4)]">
        </child-comp>
    </div>
    <template id="ChildComp">
        <div>
            <h2>SSAFY {{area}}지역 3기 {{msg}}</h2>
        </div>
    </template>
    <script type="module">
        import ChildComp from "./components/ChildComp.js"
        new Vue({
            el: "#app",
            data: {
                areas: ['광주', '구미', '대전', '서울'],
                msg: ["굿^^", "최고!!", "실화냐?", "좋아요*"]
            },
            components: {
                ChildComp
            }
        })
    </script>
</body>

</html>