<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app1">
      <my-global></my-global>
      <my-global></my-global>
    </div>
    <div id="app2">
      <my-global></my-global>
      <my-global></my-global>
    </div>
    <script type="module">
      import MyGlobal from './components/MyGlobal.js';

      Vue.component('MyGlobal', MyGlobal);
      new Vue({
        el: '#app1',
      });
      new Vue({
        el: '#app2',
      });
    </script>
  </body>
</html>
