<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <!--
      directives:
      태그 안에서 'v-' 로 시작하는 모든 속성들.
      화면 요소를 좀 더 쉽게 조작하기 위해 사용.
      v-text, v-html, v-for, v-bind, ...
-->
  <body>
    <div id="app">
      <!-- text로 인식 -->
      <div>{{msg}}</div>
      <!-- text로 인식 -->
      <div v-text="msg"></div>
      <!-- html 태그 인식 -->
      <div v-html="msg"></div>

      <!-- true인 경우에만 태그가 생성이 됨 -->
      <!-- false로 값이 변경되면 태그가 주석으로 바뀜 -->
      <a href="#" v-if="flag1">gogo, vue!</a>

      <!-- true 이거나 false 이거나 태그가 생성이 됨.
           true였던 값이 false로 값이 변경되면 css로 조정함
           display:none
      -->
      <a href="#" v-show="flag2">stop, vue!</a>

      <ul>
        <li v-for="system in systems">{{system}}</li>
      </ul>

      <!-- 원래 태그가 가지고 있는 속성의 값을 뷰 객체가 가지고 있는 데이터와 연결할 때 사용 -->
      <h5 v-bind:id="uid1">this is test-1</h5>
      <h5 id="10">this is test-1</h5>
      <h5 v-bind:id="uid2">this is test-2</h5>
      <h5 :id="uid2">this is test-2</h5>
      <img :src="src" alt="토마토입니다." />

      <!-- v-on : event 등록 -->
      <button v-on:click="hello">press</button>
      <button @click="bye">press2</button>
    </div>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          flag1: true,
          flag2: false,
          systems: ["android", "window", "linux"],
          uid1: 10,
          uid2: 999,
          msg: "<h1>hello, vue</h1>",
          src: "./img/tomato.jpg",
        },
        methods: {
          hello() {
            alert("hello!");
          },
          bye() {
            alert("bye");
          },
        },
      });
    </script>
  </body>
</html>
